.venv/
dist/
build/
*.egg-info/
__pycache__/
.mypy_cache/
.vscode/
download/

rhasspyasr_pocketsphinx/estimate-ngram
rhasspyasr_pocketsphinx/libmitlm.so.1
rhasspyasr_pocketsphinx/phonetisaurus-apply
rhasspyasr_pocketsphinx/phonetisaurus-g2pfst
rhasspyasr_pocketsphinx/libfst.so.13
rhasspyasr_pocketsphinx/libfstfar.so.13
rhasspyasr_pocketsphinx/libfstngram.so.13